/* Couleur//////////// */
:root {
	--couleurPrincipale: rgb(227, 3, 40);
	--couleurSecondaire: orange; 
}



body {
	font-family: system-ui;
	/* background-color: var(--couleurPrincipale);
	color: color-mix(in srgb, var(--couleurPrincipale) 20%, white 80% )
} */
h1{
	font-size: 8vw;
}

/* Mise en page -- Colonnes */
.row {
	display: flex;
	gap: 1rem;
}
.row > * {
	flex: 1;
}
@media(max-width: 800px){
	.row{
		flex-direction: column;
	}
}