/* Couleur//////////// */
:root {
	--couleurPrincipale: rgb(227, 3, 40);
	--couleurSecondaire: orange; 
}

:root {
  /* Typography Scale */
  --font-size-base: 16px;
  --font-size-XS: 0.50rem; /* 8px */
  --font-size-S: 0.71rem; /* 11.32px */
  --font-size-M: 1.00rem; /* 16px */
  --font-size-L: 1.41rem; /* 22.62px */
  --font-size-XL: 2.00rem; /* 31.99px */
  --font-size-XXL: 2.83rem; /* 45.23px */
  --font-size-XXXL: 4.00rem; /* 63.96px */
  --font-size-XXXXL: 5.65rem; /* 90.44px */
}

body {
	font-family: system-ui;
	/* background-color: var(--couleurPrincipale);
	color: color-mix(in srgb, var(--couleurPrincipale) 20%, white 80% )
} */
h1{
	font-size: 8vw;
}

/* Mise en page -- Colonnes */
.row {
	display: flex;
	gap: 1rem;
}
.row > * {
	flex: 1;
}
@media(max-width: 800px){
	.row{
		flex-direction: column;
	}
}